.bookDetail {
	margin-top: 20px;
	margin-left: 10%;
	display: flex;
	justify-content: center;
	/*flex-wrap: wrap;*/
}


.bookImage {
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 190px;
    width: 190px;
}

.bookInformation {
	float: left;
	padding: 0;
	top: 0;
	justify-content: center;
	vertical-align: middle;
}

.bookTitle {
	top: 5%;
	margin-left: 15%;
	font-weight: 1000;

}